@page "/customers/create"

<h3>Create</h3>

<EditForm Model="@Customer" OnValidSubmit="OnValidSubmit" FormName="customerForm">

    <DataAnnotationsValidator />

    <ValidationSummary />

    <label for="firstname">First name</label>
    <InputText id="firstname" @bind-Value=@Customer.FirstName />
    <ValidationMessage For="()=>Customer.FirstName" />

    <label for="lastname">Last name</label>    
    <InputText id="lastname" @bind-Value=@Customer.LastName />
    <ValidationMessage For="()=>Customer.LastName" />

    <label for="email">Email</label>
    <InputText id="email" @bind-Value=@Customer.Email />
    <ValidationMessage For="()=>Customer.Email" />

    <label for="note">Note</label>
    <InputTextArea id="note" @bind-Value=@Customer.Note />
    <ValidationMessage For="()=>Customer.Note" />

    <button type="submit">Submit</button>
</EditForm>


@code {
    private Customer Customer { get; set; } = new Customer();

    private async Task OnValidSubmit()
    {

    }

}
