@page "/customers"
@inject ICustomerRepository Repository

<h3>Customers</h3>

<TableTemplate Items="@Customers">
    <HeaderTemplate>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </HeaderTemplate>

    <RowTemplate>
        <td>#@context.Id</td>
        <td>@context.FirstName</td>
        <td>@context.LastName</td>
    </RowTemplate>
</TableTemplate>


@code {

    private IEnumerable<Customer> Customers { get; set; }

    protected override void OnInitialized()
    {
        Customers = Repository.GetAll();
    }
}