@page "/customers"
@using Domain.Abstractions
@using Domain.Models
@inject ICustomerRepository Repository

<h3>Customers</h3>

<ul class="list-group">
    @foreach (var customer in Customers)
    {
        <li class="list-group-item">Customer #@customer.Id @customer.FirstName @customer.LastName</li>
    }
</ul>

@code {

    private IEnumerable<Customer> Customers { get; set; }

    protected override void OnInitialized()
    {
        Customers = Repository.GetAll();
    }

}