@page "/customers/{id:int}"

<h3>View Customer #@Id</h3>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine(Id);
    }

}
