@page "/customers/{id:int}"
@inject ICustomerRepository Repository

<h3>View Customer #@Id</h3>

@Customer.FirstName @Customer.LastName

@code {

    [Parameter]
    public int Id { get; set; }

    private Customer Customer { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Customer = await Repository.GetById(Id);
    }

}
