@using BlazorServerApp.Models
@using BlazorServerApp.Services
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.SimpleLayout)">
                <NotAuthorized>
                    <p>Brak dostępu</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>


@code {


    [Inject]
    public CounterContext CounterContext { get; set; }

    [Inject]
    public ILocalStorageService LocalStorage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            int counter = await LocalStorage.GetItemAsync<int>("counter");

            CounterContext.CurrentCount = counter;

            StateHasChanged();
        }
    }

}