@page "/counter"
@using BlazorServerApp.Models


<PageTitle>Counter</PageTitle>

<h3>Counter</h3>

<p>Current count: @CounterContext.CurrentCount</p>

<button @onclick="@IncrementCount">Increment</button>

@code {

    [Inject]
    public CounterContext CounterContext { get; set; }

    private void IncrementCount()
    {
        CounterContext.CurrentCount++;
    }

}
