@page "/counter"
@using BlazorServerApp.Models
@inject IJSRuntime JS

<PageTitle>Counter</PageTitle>

<h3>Counter</h3>

<p>Current count: @CounterContext.CurrentCount</p>

<button @onclick="@IncrementCount">Increment</button>

@code {

    [Inject]
    public CounterContext CounterContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string counter = await JS.InvokeAsync<string>("localStorage.getItem", "counter");

        CounterContext.CurrentCount = int.Parse(counter);
    }

    private async Task IncrementCount()
    {
        CounterContext.CurrentCount++;

        await JS.InvokeVoidAsync("localStorage.setItem", "counter", CounterContext.CurrentCount);
    }

}
