@page "/dashboard"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<h3>Dashboard</h3>

<div class="dashboard">
    <DashboardItem Title="Total Sales" Value="@context.TotalSales" CssName="total-sales" />
    <DashboardItem Title="New Users" Value="@context.NewUsers" CssName="new-users" />
    <DashboardItem Title="Active Sessions" Value="@context.ActiveSessions" CssName="active-sessions" />
</div>

@code {
    private DashboardContext context = new();

    private HubConnection connection;

    protected override async Task OnInitializedAsync()
    {
        var url = Navigation.ToAbsoluteUri("/signalr/dashboard");

        connection = new HubConnectionBuilder()
            .WithUrl(url)
            .Build();


        connection.On<DashboardContext>("DashboardChanged", dashboardContext =>
        {
            context = dashboardContext;

            InvokeAsync(StateHasChanged);
        });

        await connection.StartAsync();

    }

    public async ValueTask DisposeAsync()
    {
        await connection.StopAsync();
    }
}
