<h3>ChildComponent</h3>

Message: @Message
Number: @Number
Description: @Description

@code {

    [CascadingParameter(Name = "Message")]
    public string Message { get; set; }

    [CascadingParameter(Name = "Description")]
    public string Description { get; set; }

    [CascadingParameter]
    public int Number { get; set; }
    
}
