@if (IsLoading)
{
    @if (Placeholder is not null)
    {
        @Placeholder
    }
    else
    {

        <div class="loader">
            <p>Loading...</p>

            <div class="spinner-border"></div>
        </div>

    }
}
else
{
    @ChildContent
}

@code {

    private bool _isLoading;

    [Parameter, EditorRequired]
    public bool IsLoading
    {
        get => _isLoading;
        set
        {
            if (_isLoading != value)
            {
                _isLoading = value;

                UpdateLoadingChanged();
            }
        }
    }

    async Task UpdateLoadingChanged()
    {
        await IsLoadingChanged.InvokeAsync();
    }

    [Parameter]
    public EventCallback<bool> IsLoadingChanged { get; set; }

    [Parameter]
    public RenderFragment? Placeholder { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
